<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - CodeSynergy</title>
        
        <environment names="Development">
            <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/main.css" />
            <link rel="stylesheet" href="~/css/gridmvc.css" asp-append-version="true" />
            <link rel="stylesheet" href="~/css/prism.css" asp-append-version="true" />
            <link rel="stylesheet" href="~/lib/zTree/css/codeSynergyStyle/codesynergy.css" asp-append-version="true" />
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
            <link rel="stylesheet" href="~/css/gridmvc.css" asp-append-version="true" />
            <link rel="stylesheet" href="~/css/prism.css" asp-append-version="true" />
            <link rel="stylesheet" href="~/lib/zTree/css/codeSynergyStyle/codesynergy.css" asp-append-version="true" />
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
        </environment>

        @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                @await Html.PartialAsync("_NavMenuPartial")
            </div>
        </div>

        @await Html.PartialAsync("_MenuPartial")

        <div id="content-container">
            <div id="modal" class="modal fade" role="dialog" aria-hidden="true" data-init="@ViewData["Modal"]"></div>
            <div id="main">
                <div class="container body-content">
                    @RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; 2016 - Samuel Harbord</p>
                    </footer>
                </div>
            </div>
        </div>

        <environment names="Development">
            <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
            <script src="~/lib/bootstrap-filestyle/src/bootstrap-filestyle.js"  asp-append-version="true"></script>
            <script src="~/lib/tinymce/tinymce.min.js" asp-append-version="true"></script>
            <script src="~/lib/tinymce/jquery.tinymce.min.js" asp-append-version="true"></script>
            <script src="~/js/main.js" asp-append-version="true"></script>
            <script src="~/js/gridmvc.js" asp-append-version="true"></script>
            <script src="~/js/prism.js" asp-append-version="true"></script>
            <script src="~/lib/zTree/js/jquery.ztree.all.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="~/lib/bootstrap-filestyle/src/bootstrap-filestyle.min.js" asp-append-version="true"></script>
            <script src="~/lib/tinymce/tinymce.min.js" asp-append-version="true"></script>
            <script src="~/lib/tinymce/jquery.tinymce.min.js" asp-append-version="true"></script>
            <script src="~/js/main.js" asp-append-version="true"></script>
            <script src="~/js/gridmvc.js" asp-append-version="true"></script>
            <script src="~/js/prism.js" asp-append-version="true"></script>
            <script src="~/lib/zTree/js/jquery.ztree.all.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("scripts", required: false)
    </body>
</html>
