@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal" role="form">

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label required"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" maxlength="256" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="DisplayName" class="col-md-2 control-label required"></label>
        <div class="col-md-10">
            <input asp-for="DisplayName" class="form-control" maxlength="20" />
            <span asp-validation-for="DisplayName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label required"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" maxlength="256" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label required"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" maxlength="256" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="FirstName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="FirstName" class="form-control" maxlength="40" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="LastName" class="form-control" maxlength="40" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="JobTitle" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="JobTitle" class="form-control" maxlength="40" />
            <span asp-validation-for="JobTitle" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="BirthDate" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="BirthDate" type="date" class="form-control" />
            <span asp-validation-for="BirthDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Gender" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            @Html.RadioButtonFor(m => m.Gender, "true",
        new { id = "IsMale", @class = "form-control left" })
            <label for="Gender" class="left">Male</label>
            @Html.RadioButtonFor(m => m.Gender, "false",
        new { id = "IsFemale", @class = "form-control left" })
            <label for="Gender" class="left">Female</label>
            @Html.RadioButtonFor(m => m.Gender, "null",
        new { id = "IsUnidentified", @class = "form-control left" })
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="CountryID" class="col-md-2 control-label"></label>
        <div class="col-md-10 left">
            <select id="CountryID" name="CountryID" class="form-control">
                <option value="">--Select a Country--</option>
                @foreach (Country c in ViewBag.Countries)
                {
                    <option value="@c.ISO">@c.CountryName</option>
                }
            </select>
            <span asp-validation-for="CountryID" class="text-danger"></span>
        </div>
    </div>
    <div id="region-form-group" class="form-group">
        <label asp-for="RegionID" class="col-md-2 control-label"></label>
        <div class="col-md-10 left">
            <select id="RegionID" name="RegionID" class="form-control">
                <option value="">--Select a Region--</option>
            </select>
            <span asp-validation-for="RegionID" class="text-danger"></span>
        </div>
    </div>
    <div id="city-form-group" class="form-group">
        <label asp-for="City" class="col-md-2 control-label"></label>
        <div class="col-md-10 left">
            <input asp-for="City" class="form-control" placeholder="Enter a City" maxlength="20" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="GitHubID" class="col-md-2 control-label"></label>
        <div class="col-md-4">
            <input asp-for="GitHubID" class="form-control" maxlength="20" />
            <span asp-validation-for="GitHubID" class="text-danger"></span>
        </div>
        <label asp-for="ProfileGitHub" class="col-md-4 control-label"></label>
        <div class="col-md-2 left">
            <input asp-for="ProfileGitHub" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </div>
    @Html.AntiForgeryToken()
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
